.footer__email {
  margin: 10px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #212353;
}

@media (min-width: 320px) and (max-width: 500px) {
  .footer__email {
    font-size: 13px;
  }
}
