.lead__btn {
  margin: 50px 0 0;
  background-color: #9c69e2;
  border: none;
  cursor: pointer;
  width: 170px;
  height: 60px;
  border-radius: 50px;
  transition: opacity 0.1s linear;
  opacity: 1;
}

.lead__btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .lead__btn {
    margin-top: 20px;
  }
}
