.footer__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: #212353;
}

@media (min-width: 320px) and (max-width: 500px) {
  .footer__title {
    font-size: 16px;
  }
}
