.testimonials__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 500px) {
  .testimonials__title {
    text-align: center;
  }
}
