@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__container/lead__container.css);
@import url(../blocks/lead/__info/lead__info.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__text/lead__text.css);
@import url(../blocks/lead/__btn/lead__btn.css);
@import url(../blocks/lead/__link/lead__link.css);
@import url(../blocks/lead/__img/lead__img.css);
@import url(../blocks/about/about.css);
@import url(../blocks/about/__container/about__container.css);
@import url(../blocks/about/__img/about__img.css);
@import url(../blocks/about/__info/about__info.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__text/about__text.css);
@import url(../blocks/features/features.css);
@import url(../blocks/features/__container/features__container.css);
@import url(../blocks/features/__title/features__title.css);
@import url(../blocks/features/__text/features__text.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__info/card__info.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/__links/card__links.css);
@import url(../blocks/card/__link/card__link.css);
@import url(../blocks/card--position-1/card--position-1.css);
@import url(../blocks/card--position-2/card--position-2.css);
@import url(../blocks/card--position-3/card--position-3.css);
@import url(../blocks/testimonials/testimonials.css);
@import url(../blocks/testimonials/__container/testimonials__container.css);
@import url(../blocks/testimonials/__title/testimonials__title.css);
@import url(../blocks/comments/comments.css);
@import url(../blocks/comment/comment.css);
@import url(../blocks/comment/_position/comment_position_1.css);
@import url(../blocks/comment/_position/comment_position_2.css);
@import url(../blocks/comment/__avatar/comment__avatar.css);
@import url(../blocks/comment/__info/comment__info.css);
@import url(../blocks/comment/__name/comment__name.css);
@import url(../blocks/comment/__status/comment__status.css);
@import url(../blocks/comment/__text/comment__text.css);
@import url(../blocks/comment/__text--visible/comment__text--visible.css);
@import url(../blocks/testimonials/__slide/testimonials__slide.css);
@import url(../blocks/arrows/arrows.css);
@import url(../blocks/arrows/__arrow/arrows__arrow.css);
@import url(../blocks/arrows/__arrow--left/arrows-arrow--left.css);
@import url(../blocks/arrows/__arrow--right/arrows__arrow--right.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__info/footer__info.css);
@import url(../blocks/footer/__headline/footer__headline.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/footer/__adress/footer__adress.css);
@import url(../blocks/footer/__email/footer__email.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/footer/__social/footer__social.css);
@import url(../blocks/footer/__media/footer__media.css);
@import url(../blocks/icons/icons.css);
@import url(../blocks/icon/icon.css);
