.lead__container {
  max-width: 1248px;
  min-height: 564px;
  margin: 145px auto 0;
  position: relative;
  padding-left: 30px;
}

@media screen and (max-width: 600px) {
  .lead__container {
    margin-top: 70px;
    min-height: auto;
  }
}
